.App {
  text-align: center;
  display: inline-block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App__headings {
  display: flex;
}

.App__headings::before {
  content: '';
  display: block;
  width: 30px;
  width: 9ch;
}

.App__explanation {
  font-size: 10px;
  text-align: center;
  color: #505050;
  width: 30px;
  width: 8ch;
  padding: 4px 8px;
  margin-right: 24px;
}